body {
    background-color: black;
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 1;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-dm-sans);
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
    cursor: pointer;
}

.section-playlist {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text{
    padding-bottom: 14px;
    color: #fff;
    
}

.section-playlist__content .title{
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-family: var(--font-dm-sans);
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 113px;
    cursor: pointer;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    
    text-decoration: none;
    font-size: 11px;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
}

.languages .languages__button{
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    margin: 8px;
    padding: 10px;
    border: 1px solid #878787;
    width: 170px;
    font-family: var(--font-dm-sans);
    cursor: pointer;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(45deg, #AE2A98,#529AF4);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}
